{% extends 'base.html' %} {% block title %}
<title>Tasks</title>
{% endblock %} {% block content %}

<div class="container">
  <div class="row mt-4">
    <h1>Task List</h1>
    <div class="col-md-9">
      <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="col-md-9">
          <input
            type="text"
            name="title"
            placeholder="Add task..."
            required
            class="form-control"
          />
        </div>
        <div class="col-md-9">
          <button type="submit" class="btn btn-outline-primary mt-4">
            Add Task
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <h2>Newer tasks</h2>
    <ul class="list-group">
      {% for task in tasks %}
      <li
        class="list-group-item {% if task.is_completed %} task-complete {% else %} task-not-complete {% endif %}"
      >
        {{task.title}}
        <div>
          <form action="{% url 'update' task.id %}" method="post">
            {% csrf_token %}
            <button
              type="submit"
              class="btn btn-primary m-2"
              name="isCompleted"
            >
              {% if not task.is_completed %} Mark as Done {% else %}
              Undone{%endif%}
            </button>
          </form>
          <button type="submit" class="btn btn-danger m-2">Delete</button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}
</div>
