{% extends 'base.html' %} {% block title %}
<title>Tasks</title>
{% endblock %} {% block content %}

<div class="container">
  <div class="row mt-4">
    <h1>Task List</h1>
    <div class="col-md-9">
      <form action="">
        <div class="col-md-9">
          <input
            type="text"
            name="task"
            placeholder="Add task..."
            required
            class="form-control"
          />
        </div>
        <div class="col-md-9">
          <button type="submit" class="btn btn-outline-primary mt-4">
            Add Task
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <ul>
      <h2>Newer tasks</h2>
      {% for task in tasks %}
      <li>{{task.title}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}
</div>
